@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  /* tag css que seleciona o css inteiro */
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-size: medium;
  text-decoration: none;
  outline: none;

  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: 1px 7px 5px rgba(0, 0, 0, 0.356);
}
.logo_nome {
  display: inline;
  vertical-align: 31px;
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  font-size: 24px;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.295);
}
.logo_img {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 56px;
  width: 62px;
}
nav {
  margin-bottom: 28px;
}
header {
  max-width: 100%;
  text-align: center;
  background-color: #512c12;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  display: flex;
  align-items: center;
}
.homelink {
  text-shadow: 1px 7px 5px rgba(0, 0, 0, 0.356);
  color: #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 616px;
  font-size: 21px;
}

.sobrelink {
  text-shadow: 1px 7px 5px rgba(0, 0, 0, 0.356);
  color: #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 486px;
  font-size: 21px;
}
.lojalink {
  background: fixed #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  color: #65522e;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.527);
  right: 356px;
  font-size: 21px;
}
.suportelink {
  text-shadow: 1px 7px 5px rgba(0, 0, 0, 0.356);
  color: #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 195px;
  font-size: 21px;
}
.sobrelink:hover {
  background: fixed #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  color: #65522e;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 486px;
  font-size: 21px;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.527);
  transition: 0.6s;
}
.lojalink:hover {
  background: fixed #d3d3d3;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  color: #8b6826;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 356px;
  font-size: 21px;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.527);
  transition: 0.6s;
}
.suportelink:hover {
  background: fixed #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  color: #65522e;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 195px;
  font-size: 21px;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.527);
  transition: 0.6s;
}
.homelink:hover {
  background: fixed #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  color: #65522e;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 616px;
  font-size: 21px;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.527);
  transition: 0.6s;
}
.loginlink {
  text-shadow: 1px 7px 5px rgba(0, 0, 0, 0.356);
  color: #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 74px;
  font-size: 21px;
}
.loginlink:hover {
  background: fixed #ffffff;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2px;
  color: #65522e;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 74px;
  font-size: 21px;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.527);
  transition: 0.6s;
}
.homelink:active {
  transition: 0.1s;
  transform: scale(0.9);
}
.lojalink:active {
  transition: 0.1s;
  transform: scale(0.9);
}
.suportelink:active {
  transition: 0.1s;
  transform: scale(0.9);
}
.sobrelink:active {
  transition: 0.1s;
  transform: scale(0.9);
}
.loginlink:active {
  transition: 0.1s;
  transform: scale(0.9);
}
.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  margin-top: 16px;
  width: 98vw;
  max-width: 4600px;
  height: auto;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.image2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.image3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.frase_catalogo {
  color: #ffffff;
  background-color: #412410;
  font-weight: 500;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  font-size: 37px;
}
.fundo_catalogo {
  width: 100%;
  background-color: #cccccc;
  margin-left: 5px;
  margin-right: 5px;
}
.filtro_novos {
  margin-left: -420px;
  margin-right: 15px;
  display: inline;
  color: #ffffff;
  background-color: #1ea2ab;
  font-weight: 500;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}
.filtro_ofertas {
  margin-right: 15px;
  margin-top: 20px;
  display: inline;
  color: #ffffff;
  background-color: #ceb525;
  font-weight: 500;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}
.filtro_populares {
  margin-right: 15px;
  margin-top: 20px;
  display: inline;
  color: #ffffff;
  background-color: #ceb525;
  font-weight: 500;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}
.filtro_filtrar {
  margin-right: 15px;
  margin-top: 20px;
  display: inline;
  color: #ffffff;
  background-color: #ceb525;
  font-weight: 500;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}
.fundo_cordel_1 {
  margin-left: -432px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 13px;
  padding-left: 100px;
  padding-bottom: 3px;
}
.cordel_1 {
  width: 170px;
  position: relative;
  bottom: 1px;
  right: 50px;
}
.cordel1_titulo {
  font-family: "Indie Flower", serif;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  right: 50px;
}
.cordel1_preco {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  right: 50px;
}
.cordel1_comprar {
  font-weight: 500;
  font-size: 16px;
  background-color: #fce045;
  padding: -1px;
  position: relative;
  margin-top: 4px;
  position: relative;
  right: 50px;
}
.fundo_cordel_2 {
  margin-left: 14px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 12px;
  padding-left: 40px;
  padding-bottom: 3px;
}
.cordel_2 {
  width: 229px;
  position: relative;
  bottom: -1px;
  right: 18px;
}
.cordel2_titulo {
  font-family: "Indie Flower", serif;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  right: 18px;
}
.cordel2_preco {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  right: 18px;
}
.cordel2_comprar {
  font-weight: 500;
  font-size: 16px;
  background-color: #fce045;
  padding: -1px;
  position: relative;
  margin-top: 4px;
  position: relative;
  right: 18px;
}
.fundo_cordel_3 {
  margin-left: 14px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 11px;
  padding-left: 60px;
  padding-bottom: 3px;
}
.cordel_3 {
  width: 178px;
  position: relative;
  bottom: -2px;
  right: 30px;
}
.cordel3_titulo {
  font-family: "Indie Flower", serif;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  right: 30px;
}
.cordel3_preco {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  right: 30px;
}
.cordel3_comprar {
  font-weight: 500;
  font-size: 16px;
  background-color: #fce045;
  padding: -1px;
  position: relative;
  margin-top: 4px;
  right: 30px;
}
.fundo_cordel_4 {
  margin-left: -430px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 12px;
  padding-left: 60px;
  padding-bottom: 3px;
}
.cordel_4 {
  width: 136px;
  position: relative;
  bottom: -2px;
  right: 30px;
}
.cordel4_titulo {
  font-family: "Indie Flower", serif;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  right: 30px;
}
.cordel4_preco {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  right: 30px;
}
.cordel4_comprar {
  font-weight: 500;
  font-size: 16px;
  background-color: #fce045;
  padding: -1px;
  position: relative;
  margin-top: 4px;
  right: 30px;
}
.fundo_cordel_5 {
  margin-left: 14px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 17px;
  padding-left: 60px;
  padding-bottom: 3px;
}
.cordel_5 {
  width: 136px;
  position: relative;
  bottom: -2px;
  right: 30px;
}
.cordel5_titulo {
  font-family: "Indie Flower", serif;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  right: 30px;
}
.cordel5_preco {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  right: 30px;
}
.cordel5_comprar {
  font-weight: 500;
  font-size: 16px;
  background-color: #fce045;
  padding: -1px;
  position: relative;
  margin-top: 4px;
  right: 30px;
}
.fundo_cordel_6 {
  margin-left: 14px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 16px;
  padding-left: 60px;
  padding-bottom: 3px;
}
.cordel_6 {
  width: 136px;
  position: relative;
  bottom: -2px;
  right: 30px;
}
.cordel6_titulo {
  font-family: "Indie Flower", serif;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  right: 30px;
}
.cordel6_preco {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  right: 30px;
}
.cordel6_comprar {
  font-weight: 500;
  font-size: 16px;
  background-color: #fce045;
  padding: -1px;
  position: relative;
  margin-top: 4px;
  right: 30px;
}
.fundo_cordel_7 {
  margin-left: 14px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 21px;
  padding-left: 60px;
  padding-bottom: 3px;
}
.cordel_7 {
  width: 136px;
  position: relative;
  bottom: -2px;
  right: 30px;
}
.cordel7_titulo {
  font-family: "Indie Flower", serif;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  right: 30px;
}
.cordel7_preco {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  right: 30px;
}
.cordel7_comprar {
  font-weight: 500;
  font-size: 16px;
  background-color: #fce045;
  padding: -1px;
  position: relative;
  margin-top: 4px;
  right: 30px;
}
.caixa_categorias {
  position: absolute;
  margin-top: -104px;

  margin-left: 15px;
  margin-right: -160px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 21px;
  padding-right: 0px;
  padding-left: 60px;
  padding-bottom: 3px;
}
.categorias {
  margin-right: -60px;
  text-align: left;
  color: #ffffff;
  background-color: #ceb525;
  font-weight: 500;
  position: relative;
  top: -21px;
  padding: 4px;
  padding-right: 210px;
  right: 60px;
  text-decoration: none;
  font-size: 33px;
}
.maiorpreco {
  margin-top: -20px;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  border-bottom: solid gray 1px ;  
  position: relative;
  right: 50px;
}
.menorpreco {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px ;  
  position: relative;
  right: 50px;
}
.infantil {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px ;  
  position: relative;
  right: 50px;
}
.mais {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  border-top: solid gray 1px;  
  position: relative;
  right: 50px;
  margin-bottom: -3px;
}
.caixa_carrinho {
  position: absolute;
  margin-top: -260px;
  margin-left: 15px;
  margin-right: -160px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 21px;
  padding-right: 0px;
  padding-left: 60px;
  padding-bottom: 3px;
}
.carrinho {
  margin-right: -60px;
  text-align: left;
  color: #ffffff;
  background-color: #1EA2AB;
  font-weight: 500;
  position: relative;
  top: -21px;
  padding: 4px;
  padding-right: 246px;
  right: 60px;
  text-decoration: none;
  font-size: 33px;
}
.compra1 {
  margin-top: -20px;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  position: relative;
  top: -70px;
  right: -11px;
}
.foto_compra{
margin-left: -400px;
}
.valor1 {
  font-weight: 300;
  font-size: 15px;
  padding: 2px;
 margin-right: 90px;
 margin-left: 90px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  top: -70px;
  right: 70px;
}
.compra2 {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  position: relative;
  top: -89px;
  right: -11px;
}
.valor2 {
  margin-right: 90px;
  margin-left: 90px;
  font-weight: 300;
  font-size: 15px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  top: -85px;
  right: 70px;
}
.compra3 {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  position: relative;
  top: -89px;
  right: -11px;
}
.valor3 { margin-right: 90px;
  margin-left: 90px;
  font-weight: 300;
  font-size: 15px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  top: -83px;
  right: 70px;
}
.compra4 {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  position: relative;
  top: -84px;
  right: -11px;
  margin-bottom: -3px;
}
.valor4 { margin-right: 90px;
  margin-left: 90px;
  font-weight: 300;
  font-size: 15px;
  padding: 2px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
  top: -79px;
  right: 70px;
}
.total{
  margin-right: -60px;
  text-align: right;
  color: #ffffff;
  background-color: #1EA2AB;
  font-weight: 500;
  position: relative;
  top: 11px;
  padding: 4px;
  padding-right: 176px;
  right: 60px;
  text-decoration: none;
  font-size: 19px;
}
footer {
  margin-top: 20px;
  background-color: #512c12;
  padding-bottom: 30px;
}
.nomeofc {
  color: #ffffff;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: -20px;
}
.numofc {
  color: #ffffff;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline;
}
